{# Load the tag library #}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Work Visit App</title>
    <link rel = "icon" href =https://img.icons8.com/color/96/000000/rgb-circle-1--v1.png"
        type = "image/x-icon">

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
</head>

<body>
<!-- Static navbar -->
<div class="container">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'workvisits:workvisit_request' %}">Work Visit</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarNavDropdown">
            <ul class="nav navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'workvisits:home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Data
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'workvisits:ibxview' %}">IBX</a>
                        <a class="dropdown-item" href="{% url 'workvisits:cageview' %}">Cage</a>
                        <a class="dropdown-item" href="{% url 'workvisits:cabinetview' %}">Cabinets</a>
                        <a class="dropdown-item" href="{% url 'workvisits:visitorsview' %}">Visitors</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                 <li class="nav-item"><a class="nav-link" href="{% url 'users:user_details' user.id %}">Hello, {{ user.username }}.</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'users:logout' %}">Log out</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'users:register' %}">Register</a></li>
                 <li class="nav-item"><a class="nav-link" href="{% url 'users:login' %}">Log in</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>

<div class="container">
    <div class="pb-2 mt-4 mb-2 border-bottom">
        {% block header %}
        {% endblock header %}
    </div>
    <div>
        {% block content %}{% endblock content %}
        {% block javascript %}{% endblock %}
    </div>
</div> <!-- /container -->
</body>
</html>